_4.python/__code/物聯網實戰/RPi/EX10-3.json
[{"id":"fa4c4fd5.16f03","type":"tab","label":"EX10-3","disabled":false,"info":""},{"id":"a139a058.f85fe","type":"ui_slider","z":"fa4c4fd5.16f03","name":"Set Opening","label":"OPENING","tooltip":"appliance/shutter","group":"5f1f53c5.35b4fc","order":2,"width":"6","height":"1","passthru":true,"outs":"all","topic":"appliance/shutter","min":0,"max":"100","step":1,"x":112,"y":154,"wires":[["3683dd59.3da972"]]},{"id":"f1497311.287b9","type":"ui_gauge","z":"fa4c4fd5.16f03","name":"Illuminance Meter","group":"5f1f53c5.35b4fc","order":3,"width":0,"height":0,"gtype":"gage","title":"ILLUMINANCE","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":592,"y":274,"wires":[]},{"id":"38a8d06c.15e58","type":"ui_text","z":"fa4c4fd5.16f03","group":"5f1f53c5.35b4fc","order":4,"width":"6","height":"1","name":"Shutter Opening","label":"STATUS>>","format":"{{msg.payload}}","layout":"row-spread","x":332,"y":414,"wires":[]},{"id":"e5c86533.f6f878","type":"mqtt out","z":"fa4c4fd5.16f03","name":"Shutter Control","topic":"appliance/shutter","qos":"","retain":"","broker":"d2bc8f3e.6cbcf","x":742,"y":154,"wires":[]},{"id":"764c769d.1e9f28","type":"function","z":"fa4c4fd5.16f03","name":"Get Illuminance","func":"msg.payload=msg.payload.Illuminance\nreturn msg;","outputs":1,"noerr":0,"x":362,"y":274,"wires":[["f1497311.287b9","d92c5e03.3df52"]]},{"id":"a91d793b.8cb9a8","type":"mqtt in","z":"fa4c4fd5.16f03","name":"Shutter Opening","topic":"Shutter","qos":"2","datatype":"auto","broker":"d2bc8f3e.6cbcf","inputs":0,"x":122,"y":414,"wires":[["38a8d06c.15e58"]]},{"id":"3683dd59.3da972","type":"string","z":"fa4c4fd5.16f03","name":"int2str","methods":[{"name":"toString","params":[]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":252,"y":154,"wires":[["f54fe3b0.17814"]]},{"id":"32eb732c.b0b04c","type":"function","z":"fa4c4fd5.16f03","name":"Open Shutter Command","func":"var action = flow.get('Action');\nvar manualOpening = flow.get('manualOpening') || '0';\nvar autoOpening = flow.get('autoOpening') || '0';\nif (action === 'm')  msg.payload = 'x' + manualOpening;\nelse if (action === 'a') msg.payload = 'x' + autoOpening;\nreturn msg;","outputs":1,"noerr":0,"x":592,"y":94,"wires":[["e5c86533.f6f878"]]},{"id":"5ebff76.3733108","type":"ui_switch","z":"fa4c4fd5.16f03","name":"Manual Operation","label":"MANUAL OPERATION","tooltip":"","group":"5f1f53c5.35b4fc","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"appliance/shutter","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":132,"y":94,"wires":[["eb3bd4b8.5c3698"]]},{"id":"d92c5e03.3df52","type":"function","z":"fa4c4fd5.16f03","name":"Auto Opening","func":"var opening = msg.payload;\nopening = 100 - opening;\nmsg.payload = opening;\nreturn msg;","outputs":1,"noerr":0,"x":397,"y":334,"wires":[["95fb4626.cf20a8"]]},{"id":"eb3bd4b8.5c3698","type":"function","z":"fa4c4fd5.16f03","name":"Set Action","func":"var action = msg.payload;\nif (action === true) {\n    flow.set('Action','m');\n}\nelse {\n    flow.set('Action','a');\n}\nreturn msg;","outputs":1,"noerr":0,"x":333,"y":94,"wires":[["32eb732c.b0b04c"]]},{"id":"95fb4626.cf20a8","type":"string","z":"fa4c4fd5.16f03","name":"int2str","methods":[{"name":"toString","params":[]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":552,"y":334,"wires":[["d83c3d6a.fbb0b"]]},{"id":"f54fe3b0.17814","type":"function","z":"fa4c4fd5.16f03","name":"Set Manual Opening","func":"var opening = msg.payload;\nflow.set('manualOpening', opening);\nreturn msg;","outputs":1,"noerr":0,"x":342,"y":214,"wires":[["32eb732c.b0b04c"]]},{"id":"d83c3d6a.fbb0b","type":"function","z":"fa4c4fd5.16f03","name":"Set Auto Opening","func":"var opening = msg.payload;\nflow.set('autoOpening', opening);\nreturn msg;","outputs":1,"noerr":0,"x":717,"y":334,"wires":[["32eb732c.b0b04c"]]},{"id":"150edeb1.17b9b1","type":"mqtt in","z":"fa4c4fd5.16f03","name":"Illuminance","topic":"Illuminance","qos":"2","datatype":"auto","broker":"d2bc8f3e.6cbcf","inputs":0,"x":112,"y":274,"wires":[["73ef381a.eaa648"]]},{"id":"73ef381a.eaa648","type":"json","z":"fa4c4fd5.16f03","name":"","property":"payload","action":"","pretty":false,"x":162,"y":334,"wires":[["764c769d.1e9f28"]]},{"id":"6293c2d7.cdb2ec","type":"comment","z":"fa4c4fd5.16f03","name":"Shutter Open Command","info":"","x":152,"y":58,"wires":[]},{"id":"aa708656.887868","type":"comment","z":"fa4c4fd5.16f03","name":"Illuminance Data","info":"","x":122,"y":238,"wires":[]},{"id":"4318c09.967084","type":"comment","z":"fa4c4fd5.16f03","name":"Opening Data","info":"","x":112,"y":380,"wires":[]},{"id":"5f1f53c5.35b4fc","type":"ui_group","name":"Shutter","tab":"e2a21c3d.b81b6","order":4,"disp":true,"width":"6","collapse":false},{"id":"d2bc8f3e.6cbcf","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e2a21c3d.b81b6","type":"ui_tab","name":"Appliance","icon":"dashboard","order":1,"disabled":false,"hidden":false}]