_4.python/__code/物聯網實戰/RPi/EX11.json
[{"id":"37f50183.9df60e","type":"tab","label":"EX 11","disabled":false,"info":""},{"id":"c7c9396c.3d6198","type":"e-mail","z":"37f50183.9df60e","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"UrAccount@gmail.com","dname":"Mail to TC","x":1132,"y":137,"wires":[]},{"id":"fcc458fa.6aa3f8","type":"ui_button","z":"37f50183.9df60e","name":"Take a Photo","group":"f6370e64.1e39d","order":1,"width":0,"height":0,"passthru":false,"label":"Take a Photo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":111,"y":79,"wires":[["82537de9.00f94"]]},{"id":"fd825d8d.20c0e","type":"exec","z":"37f50183.9df60e","command":"sudo fswebcam --no-banner -r 640x480 msg.payload","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Snapshot","x":760,"y":80,"wires":[["6c5ac9e7.164948"],[],[]]},{"id":"8a6a6116.ce5f9","type":"function","z":"37f50183.9df60e","name":"Attachment","func":"var filename1 = flow.get('JPG');\nvar filename2 = flow.get('LongJPG');\nmsg.payload = \"Hello TC,<br>Please check the attachment.\";\nmsg.attachments = [{\n    filename: filename1,\n    path: filename2,\n    content: msg.payload\n}];\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":74,"wires":[["c7c9396c.3d6198","99333baa.3114c8"]]},{"id":"d44c9d47.74e77","type":"rpi-gpio in","z":"37f50183.9df60e","name":"Infrared Sensor","pin":"13","intype":"tri","debounce":"25","read":false,"x":122,"y":184,"wires":[["a5d3c422.ae1338"]]},{"id":"a76163f2.e7ffa","type":"ui_slider","z":"37f50183.9df60e","name":"Rotating","label":"ROTATING","tooltip":"","group":"f6370e64.1e39d","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"2.5","max":"12.5","step":"0.1","x":102,"y":312,"wires":[["bd07d30.7bbe03","d1738344.eb151"]]},{"id":"d1738344.eb151","type":"rpi-gpio out","z":"37f50183.9df60e","name":"Camera Frame","pin":"33","set":"","level":"0","freq":"50","out":"pwm","x":340,"y":312,"wires":[]},{"id":"82537de9.00f94","type":"exec","z":"37f50183.9df60e","command":"sudo service motion stop","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Stop Motion Service","x":340,"y":83,"wires":[["d7686b20.5fe918"],[],[]]},{"id":"8d3a5dbc.a7dae","type":"ui_button","z":"37f50183.9df60e","name":"Look Around","group":"f6370e64.1e39d","order":2,"width":0,"height":0,"passthru":false,"label":"LOOK AROUND","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":112,"y":458,"wires":[["39c0306e.186f2"]]},{"id":"39c0306e.186f2","type":"exec","z":"37f50183.9df60e","command":"sudo service motion start","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Start Motion Service","x":400,"y":458,"wires":[[],[],[]]},{"id":"a5d3c422.ae1338","type":"switch","z":"37f50183.9df60e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":240,"wires":[["ee25a094.cad4c","618bfdd5.c1f754","2b2929a2.d38bf6"],["b432fdcd.2a7b4"]]},{"id":"bd07d30.7bbe03","type":"delay","z":"37f50183.9df60e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":203,"y":374,"wires":[["c14656de.ca2b48"]]},{"id":"c14656de.ca2b48","type":"change","z":"37f50183.9df60e","name":"Not Move","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":357,"y":374,"wires":[["d1738344.eb151"]]},{"id":"653fd95f.edefc8","type":"rpi-gpio out","z":"37f50183.9df60e","name":"Buzzer","pin":"32","set":"","level":"0","freq":"523","out":"pwm","x":700,"y":220,"wires":[]},{"id":"ee25a094.cad4c","type":"delay","z":"37f50183.9df60e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":502,"y":245,"wires":[["653fd95f.edefc8"]]},{"id":"618bfdd5.c1f754","type":"change","z":"37f50183.9df60e","name":"Change to 50","rules":[{"t":"set","p":"payload","pt":"msg","to":"50","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":205,"wires":[["1db970ec.769f3f","653fd95f.edefc8"]]},{"id":"87513a12.76eff8","type":"comment","z":"37f50183.9df60e","name":"Take Photo","info":"Take a photo according to push button.","x":110,"y":48,"wires":[]},{"id":"923f50ea.39897","type":"comment","z":"37f50183.9df60e","name":"Monitoring","info":"","x":101,"y":153,"wires":[]},{"id":"2033946b.9bb46c","type":"comment","z":"37f50183.9df60e","name":"Rotate Camera","info":"","x":121,"y":281,"wires":[]},{"id":"a42a9c2c.a7d8a","type":"comment","z":"37f50183.9df60e","name":"Browse localhost:8081","info":"","x":142,"y":427,"wires":[]},{"id":"cc59f490.b523e8","type":"ui_text","z":"37f50183.9df60e","group":"f6370e64.1e39d","order":5,"width":0,"height":0,"name":"Status","label":"STATUS>>","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":220,"wires":[]},{"id":"1db970ec.769f3f","type":"function","z":"37f50183.9df60e","name":"Warning","func":"msg.payload = 'Invasion!!';\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":180,"wires":[["cc59f490.b523e8"]]},{"id":"4fe4f33c.b85a6c","type":"function","z":"37f50183.9df60e","name":"Clear Warning","func":"msg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":280,"wires":[["cc59f490.b523e8"]]},{"id":"b432fdcd.2a7b4","type":"delay","z":"37f50183.9df60e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":503,"y":280,"wires":[["4fe4f33c.b85a6c"]]},{"id":"2b2929a2.d38bf6","type":"delay","z":"37f50183.9df60e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":320,"y":160,"wires":[["82537de9.00f94"]]},{"id":"6c5ac9e7.164948","type":"delay","z":"37f50183.9df60e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":900,"y":74,"wires":[["8a6a6116.ce5f9"]]},{"id":"d7686b20.5fe918","type":"function","z":"37f50183.9df60e","name":"JPG File Name ","func":"var d = new Date();\nvar fileName = d.getDate() + '-' + d.getHours();\nfileName = fileName + '-' + d.getMinutes();\nfileName = fileName + d.getSeconds() + '.jpg';\nmsg.payload = fileName;\nflow.set('JPG', fileName);\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":76,"wires":[["9abe5243.7e9c"]]},{"id":"9abe5243.7e9c","type":"function","z":"37f50183.9df60e","name":"Long Prefix for JPG File","func":"msg.payload = '.node-red/public/images/' + msg.payload;\nflow.set('LongJPG', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":138,"wires":[["fd825d8d.20c0e"]]},{"id":"99333baa.3114c8","type":"function","z":"37f50183.9df60e","name":"Short Prefix for JPG File","func":"var filename = flow.get('JPG');\nmsg.payload = '/images/' + filename;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":138,"wires":[["6e5984dc.3b801c"]]},{"id":"6e5984dc.3b801c","type":"ui_template","z":"37f50183.9df60e","group":"13f71b81.27aae4","name":"Display Photo","order":0,"width":"6","height":"5","format":"<img src={{msg.payload}} height='480' width='640' id='img' >","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1140,"y":198,"wires":[[]]},{"id":"f6370e64.1e39d","type":"ui_group","name":"Functions","tab":"59282677.07dd08","order":1,"disp":true,"width":"6","collapse":false},{"id":"13f71b81.27aae4","type":"ui_group","name":"Display","tab":"59282677.07dd08","order":2,"disp":true,"width":"6","collapse":false},{"id":"59282677.07dd08","type":"ui_tab","name":"Security","icon":"dashboard","order":2,"disabled":false,"hidden":false}]